/* Cores
 Color Theme Swatches in Hex
.fondo-de-flores-azules-y-moradas-1-hex { color: #6064BF; }
.fondo-de-flores-azules-y-moradas-2-hex { color: #6976BF; }
.fondo-de-flores-azules-y-moradas-3-hex { color: #96A0D9; }
.fondo-de-flores-azules-y-moradas-4-hex { color: #CED3F2; }
.fondo-de-flores-azules-y-moradas-5-hex { color: #F2F2F2; }
*/


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #fff;

  }


  html {
    scroll-behavior: smooth;
}
  /* Cabeçalho */

  .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px; */
    background-color: #6064BF;
  }

  .cabecalho p {margin: 0;}
 
  .menu_index a:hover{
    transition: 0.7s;
    background-color: #CED3F2;
    position: static;
  }

    /* Indice */

  .menu_index {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top: 0;
    z-index: 9;
  }

  .menu_index a {
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 1em;}

  
  #logo_image {height: 100px; padding-left: 50px;}

.imgAjudar img{
  width: 15vh;
}
.imgAjudar{
  display: flex;
  justify-content: flex-end;

}
.section_flex{
  display: flex;
  justify-content: space-between;
}

  #forma_contato {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    font-weight: bold;
    font-size: 10pt;
    color: white;
  }

  .corpo {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    top: -17vh;
  }

  /* Doação */

  #donations{
    background-color: #FFF;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    width: 85%;
  }
  .comoajudarP{
    display: flex;
    justify-content: space-between;
    margin: 55px 0 55px 0;
  }
  .comoajudarP p{
    text-align: justify;
  }
  .doa_produto{
    width: 500px;
  }
  #seja_um_doador{
    text-align: justify;
    padding: 30px;
    background-color: #96A0D9;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 10px 10px #CED3F2;
    color: white;
  }
  .button_allpage{
    cursor: pointer;
    width: 100px;
    height: 60px;
    background-color: #fff;
    color: #000000;
    border-radius: 2%;
    margin-top: 100px;
    border: none;
    margin: 30px;
  }

  #formatacao_h3{
    text-align: center;
  }

  /* Fim doação */

  .main h2 {
    margin-top: 0;
  }

  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
  }

  .mainimg{
    width: 100%;
    height: 581px;
  }
  .contentSB{
    display: flex;
    padding: auto;
  }
  .sobreNos{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-color: #96A0D9;
    border-radius: 10px;
    padding: 10px 10px 30px 30px;
    box-shadow: 10px 10px #CED3F2;
    color: white;

  }
  .imgsizeSN{
  width: 406px;
  height: 494px;
  border-radius: 10px;
  }
  .textsizeSN{
    font-size: 1.2em;
    padding: 30px;
  }
  h3{
    padding-top: 20px;
    font-size: 2.3em;
  }

  .button {
    display: flex;
    border-radius: 4px;
    background-color: #348C1C;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 129px 0 0 0;

  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .eventos{
    display: flex;
    flex-direction: column;
    width: 82%;
    margin: auto;
    background-color: #96A0D9;
    border-radius: 10px;
    padding: 10px 10px 30px 30px;
    box-shadow: 10px 10px #CED3F2;
    color: white;
  }

  .contentEventos{
    display: flex;
    padding: auto;
  }
.textsizeEventos{
  font-size: 1.2em;
    padding: 30px;
}

.imgsizeEv{
  width: px;
  height: 200px;
  border-radius: 10px;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto ;
  padding: 10px;
  gap: 10px;
}
.grid-item {
  display: inline-block;
  border-radius: 10px;
  border-width: 2px;
  width: 250px;
  height: 400px;
  padding: 10px 10px 0 10px;
 transition: 0.9s;
}
.grid-item:hover{
  transform: scale(1.1);
  color: white;  
}
.imgfunc{
width: 100%;
height: 280px;
border-radius: 5px;
}
.funcionarios{
  display: flex;
  flex-direction: column;
  width: 82%;
  margin: auto;
  border-radius: 10px;
  padding: 10px 10px 30px 30px;
}
.oficioFuncionarios{
  font-size: 15px;
  padding: 0 10px 0 10px;
  font-weight: 500;
  text-align: center;
  color: #32369a;
  padding-top: 5px;
}
.nomeFuniconarios{
  font-size: 20px;
  text-align: center;
  margin-top: -15px;
  color: #32369a;
}

#h1_location{
  text-align: center;
  margin-bottom: 20px;
}

footer {
  background-color: #6064BF;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#footer {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}


.redes {
  display: flex;
  height: 5vh;
  margin-bottom: 10px;
}

.redes img {
  margin-right: 5px;
}

#copyright {
  font-size: 20px;
  display: block;
}

#footer_img {
  height: 20vh;
}