/* Cores
 Color Theme Swatches in Hex
.fondo-de-flores-azules-y-moradas-1-hex { color: #6064BF; }
.fondo-de-flores-azules-y-moradas-2-hex { color: #6976BF; }
.fondo-de-flores-azules-y-moradas-3-hex { color: #96A0D9; }
.fondo-de-flores-azules-y-moradas-4-hex { color: #CED3F2; }
.fondo-de-flores-azules-y-moradas-5-hex { color: #F2F2F2; }
*/


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #fff;
    cursor: pointer;

  }


  html {
    scroll-behavior: smooth;
}
  /* Cabeçalho */

  .cabecalho {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px; */
    background-color: #6064BF;
  }

  .cabecalho p {
    margin: 0;
  }

  .menu_index a:hover{
    transition: 0.7s;
    background-color: #CED3F2;
    position: static;
  }

    /* Indice */

  .menu_index {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top: 0;
    z-index: 9;
  }
  .menu_index a {
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 1em;}


  #logo_image {height: 100px; padding-left: 50px;}

.imgAjudar img{
  width: 15vh;
  height: 15vh;
}
.imgAjudar{
  display: flex;
  justify-content: flex-end;

}
.section_flex{
  display: flex;
  justify-content: space-between;

}

  #forma_contato {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    font-weight: bold;
    font-size: 10pt;
    color: white;
  }

  /* Doação */

  #donations{
    background-color: #FFF;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 85%;
  }
  .img{
    width: 20em;
    height: 10em;
  }

  .comoajudarP{
    display: flex;
    justify-content: space-between;
  }
  .comoajudarP p{
    text-align: justify;
  }
  .doa_produto{
    width: 500px;
    margin: 50px;
  }

  .button_allpage{
    cursor: pointer;
    width: 100px;
    height: 60px;
    background-color: #fff;
    color: #000000;
    border-radius: 2%;
    margin-top: 100px;
    border: none;
    margin: 30px;
  }

  #formatacao_h3{
    text-align: center;
  }

  /* Fim doação */

  .main h2 {
    margin-top: 0;
  }

  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
  }
  .divimg{
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .mainimg{
    width: 100%;
    height: 581px;
  }
  .sobreNos{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10em;
    margin-right: 10em;
    background-color: #96A0D9;
    border-radius: 10px;
    padding: 10px 10px 30px 30px;
    box-shadow: 10px 10px #CED3F2;
    color: white;
  }
  span{
    color: #fff;
  }
  .buttonSaibaMais{
    border-radius: 4px;
    background-color: #6064BF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  }

  .buttonInicio{
    display: none;
    border-radius: 4px;
    background-color: #6064BF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  }

  .imgsizeSN{
    width: 40vh;
    height: 50vh;
    border-radius: 10px;
    float: left;
  }
  .textsizeSN{
    float: none;
    text-align: justify;
    padding: 30px;
  }
  h3{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.3em;
  }

  .button {
    display: flex;
    border-radius: 4px;
    background-color: #348C1C;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 7em;
    transition: all 0.5s;
    cursor: pointer;
    margin: -50px 28px 0 0;

  }
  .buttonSaibaMais span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .buttonSaibaMais span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .buttonSaibaMais:hover span {
    padding-right: 25px;
  }

  .buttonSaibaMais:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  #profissõesContainer{
    width: 100%;
    padding: 0 3rem 0 3rem;
  }

  .eventos{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 82%;
    margin: auto;
    background-color: #96A0D9;
    border-radius: 10px;
    padding: 10px 10px 30px 30px;
    box-shadow: 10px 10px #CED3F2;
    color: white;
  }

  .contentEvento1{
    display: flex;
    padding: auto;
  }
.textsizeEvento1{
  font-size: 1.2em;
  padding: 30px;
}

.imgsizeEv{
  display: flex;
  width: 25vh;
  height: 20vh;
  border-radius: 10px;
}
.eventospartes{
  text-align: center;
    display: flex;
    flex-direction: column;
    width: 82%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px 30px 30px;
    box-shadow: 10px 10px #CED3F2;
    color: black;
}
.contentEvento2{
  display: flex;
  padding: auto;
}

.textsizeEvento2{
  font-size: 1.2em;
  padding: 30px;
}

.contentEvento3{
  display: flex;
  padding: auto;
}

.textsizeEvento3{
  font-size: 1.2em;
  padding: 30px;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto ;
  padding: 10px;
  gap: 10px;
}
.grid-item {
  border-color:#888383;
  margin:8px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-width: 2px;
  padding: 5px 5px 0 5px;
  transition: 0.9s;
  background-color:#ffffff;
}
.grid-item:hover{
  transform: scale(1.1);
  color: white;
  background-color: #CED3F2;
}
.imgfunc{
width: 15vw;
border-radius: 5px;
margin: 20px;
}
.funcionarios{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}
.oficioFuncionarios{
  font-size: 1.2em;
  padding: 0 10px 0 10px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  padding-top: 5px;
}
.nomeFuniconarios{
  font-size: 1.5em;
  text-align: center;
  margin-top: -15px;
  color: #6064BF;
}

#h1_location{
  text-align: center;
  margin-bottom: 20px;
}

footer {
  background-color: #6064BF;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#footer {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}


.redes {
  display: flex;
  height: 5vh;
  margin-bottom: 10px;
}

.redes img {
  margin-right: 5px;
}

#copyright {
  font-size: 20px;
  display: block;
}

#footer_img {
  height: 20vh;
}

.galeria {
  text-align: center;
  width: 100%;


}

.servicos{
  text-align: justify;
    padding: 30px;
    background-color: #96A0D9;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 10px 10px #CED3F2;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}
h2{
  margin-top: 20px;
}
/* Ajustando o nav */

.button-mobile {
  display: none;
  align-self: flex-start;
  align-items: center;
  margin: 16px;
  background:transparent;
  border: 0;
}

.menu-mobile{
  display: none;
}
.menu-mobile-active span{
  padding: 20px;
}
.menu-mobile-active{
  font-size: 5vw;
  width: 40vw;
  height: 100vh;
  background-color:#000000;
  opacity: 0.9;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
  overflow: hidden;
}
.menu-mobile-active button{
  background:transparent;
  border: 0;
  color:inherit;
  margin-bottom: 16px;
}
.menu-mobile-active button > span{
  display: inline-flex;
  align-items: center;
}
.mobile-text{
  font-size: 4vw;
  margin-left: 8px;
}
@media (max-width: 969px) {
  .imgsizeSN{
    display: none;
  }
}
@media (max-width: 1131px) {
 #forma_contato,.imgLogo{
  display: none;
 }
}

@media (max-width:980px) {

  .imgsizeSN{display: none;}

  .buttonInicio{display: flex;}

  .menu_index{
    display:none;
  }
 .button-mobile{
  display: flex;
 }

 .imgsizeSN {
  float: none;
}

  .divimg {
  display: block;
}

.buttonSaibaMais{
  display: block;
}
}
.button-mobile span{
  font-size: 18px;
}
.nutton-close span i {
  font-size: 40px;
}
@media (max-width: 1091px) {
  .imgsizeEv{
   display: none;
  }
 }
 #formatacao_h4{
  margin-top: 20px;
 }
