/* Cores
 Color Theme Swatches in Hex
.fondo-de-flores-azules-y-moradas-1-hex { color: #6064BF; }
.fondo-de-flores-azules-y-moradas-2-hex { color: #6976BF; }
.fondo-de-flores-azules-y-moradas-3-hex { color: #96A0D9; }
.fondo-de-flores-azules-y-moradas-4-hex { color: #CED3F2; }
.fondo-de-flores-azules-y-moradas-5-hex { color: #F2F2F2; }
*/


body {
  font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;

  }


  html {
    scroll-behavior: smooth;
}
  /* Cabeçalho */

  .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px; */
    background-color: #6064BF;
  }

  .cabecalho p {margin: 0;}

  #logo_image {height: 100px; padding-left: 50px;}

  #forma_contato {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    font-weight: bold;
    font-size: 10pt;
    color: white;
  }

  /* Indice */

  .menu_index {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top: 0;
    z-index: 9;
  }

  .menu_index a {
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 1em;}

  .corpo {
    position: relative;
    width: 100%;
    top: -17vh;
  }

  /* Doação */

  #donations{
    background-color: #FFF;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
  }
  .section_flex{
    display: flex;
    margin: 20px;
    justify-content: space-between;
  }
  .section_flex p{
    text-align: justify;
  }
  .doa_produto{
    width: 500px;
  }
  #seja_um_doador{
    text-align: justify;
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 10px 10px #96A0D9;
  }
  .button_allpage{
    cursor: pointer;
    width: 100px;
    height: 60px;
    background-color: #fff;
    color: #000000;
    border-radius: 2%;
    margin-top: 100px;
    border: none;
    margin: 30px;
  }

  #formatacao_h3{
    text-align: center;
  }

  .main {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
  }
  /* Fim doação */

  .main h2 {
    margin-top: 0;
  }

  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
  }

  footer {
    background-color: #6064BF;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .mainimg{
    width: 100%;
    height: 581px;
  }
  .contentSB{
    display: flex;
    padding: auto;
  }
  .sobreNos{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 10px 10px 30px 30px;
    box-shadow: 10px 10px #96A0D9;

  }
  .imgsizeSN{
  width: 406px;
  height: 494px;
  border-radius: 10px;
  }
  .textsizeSN{
    font-size: 1.2em;
    padding: 30px;
  }
  h3{
    padding-top: 20px;
    font-size: 2.3em;
  }
  .menu_index a:hover{
    transition: 0.7s;
    background-color: #CED3F2;
    position: static;
  }
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #00ff00;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

